/* Minimal CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: "Onest" ,sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
/* Weather App*/
body{
}

.main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}